@keyframes slide {
  to {
    transform: translate(-50%);
  }
}

.percentageDown {
  color: red;
}

.percentageUp {
  color: green;
}

.instruments {
  display: flex;  
  overflow: hidden;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
  padding-left: 0;
}

.animate {
  animation: slide 20s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

.instrument {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 300px;
  border: 1px solid var(--border-color);
  border-left: 0;
  background-color: #1d222c;
  &:first-child {
    border-left: 1px solid var(--border-color);
  }
  &:hover {
    background-color: #282d39;
  }
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
